* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: -apple-system, "Helvetica Neue", sans-serif;
	/* background: linear-gradient(324deg, rgba(162,34,195,1) 0%, rgba(253,45,45,1) 100%); */
	/* background: linear-gradient(324deg, rgba(0,173,246,1) 0%, rgba(217,255,77,1) 100%); */
	/* background: linear-gradient(150deg, rgb(237, 255, 188) 0%, rgb(93, 255, 247) 100%); */
	background: linear-gradient(160deg, rgb(255, 255, 255) 0%, rgb(202, 202, 202) 100%);
	font-size: 16px;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.theme {
	width: 100vw;
	text-align: center;
	font-size: 8vw;
	color: black;
	margin: 0 1em;
	margin-top: -1em;
}

.button {
	position: fixed;
	top: 90vh;
	font-size: 1.2em;
	cursor: pointer;
	border-radius: 5px;
	padding: 10px 20px;
	border: 1px solid black;
}

.button:hover {
	border: 4px solid black;
	transform: translateY(-3px);
}
