* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: -apple-system, "Helvetica Neue", sans-serif;
	background: #c4c4c4;
	color: rgb(255, 255, 255);
	font-size: 16px;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.theme {
	width: 100vw;
	text-align: center;
	font-size: 8vw;
	font-weight: 400;
	letter-spacing: 0.3px;
	margin: 0 1em;
	margin-top: -1em;
	text-shadow: 0px 1px 25px rgba(0, 0, 0, 0.08);
}

.button {
	position: fixed;
	top: 90vh;
	font-size: 1.2em;
	font-weight: 500;
	cursor: pointer;
	border-radius: 5px;
	padding: 10px 20px;
	border: 1px solid #fff;
	text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
}

.button:hover {
	border: 2px solid #fff;
	transform: translateY(-1px);
}

@media screen and (max-width: 600px) {

	body {
		align-items: flex-start;
		align-content: flex-start;
	}

	.theme {
		font-size: 9vw;
		margin: 3em 1em;
	}

	.button {
		position: static;
		top: 20px;
	}
}
